<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8"></meta> 
  <meta http-equiv="X-UA-Compatible" content="IE=edge"></meta>
  <meta name="viewport" content="width=device-width, initial-scale=1"></meta>
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <title>RedditCfbPostgame</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= yield %>
</body>
</html>
